* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #201d1d;
}

.noteList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}